.navbar-brand {
  position: absolute;
  left: 92.01%;
  right: 4.17%;
  top: 3.42%;
  bottom: 91.21%;
  width: 55px;
  height: 55px;
}

h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.navbar-nav {
  position: absolute;
  right: 120px;
  top: 15px;
}

h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  color: #053858;
}

h5 {
  border-left: 2px solid #053858;
}
