.navbar-brand {
  position: absolute;
  left: 92.01%;
  right: 4.17%;
  top: 3.42%;
  bottom: 91.21%;
  width: 55px;
  height: 55px;
}

h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.navbar-nav {
  position: absolute;
  right: 120px;
  top: 15px;
}

h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #053858;
  line-height: 65px;
  position: absolute;
  top: 103px;
  left: 240px;
}

h5 {
  border-left: 3px solid #053858;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 263px !important;
}

#sidenav {
  margin-top: 251px;
}

.list-group-item:active {
  color: brown !important;
}

.list-group-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  padding-top: 60px !important;
}

th {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

h3 {
  width: 35px;
  padding-top: 40px;
  left: 329px;
  top: 320px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 30px !important;
  line-height: 41px !important;
  text-align: center;
}

h6 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 22px;
  padding-top: 83px;
}

p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  padding-top: 75px;
  text-align: left;
}

span {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  text-align: center;
  color: #053858;
}
